@mixin transform($param) {
	-webkit-transform: $param;
	-ms-transform: $param;
	transform: $param;
}
.wrap{
	position: relative;
	width: 960px;
	height: 760px;
	margin: auto;
	overflow: hidden;
}
.el{
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.el-1{
	background-image: url(../img/1_1.svg);
	width: 200px;
	height: 82px;
	top: 376px;
	right: 27px;
	animation: el1 8s infinite ease;
}
@keyframes el1 {
	0%{
		@include transform(translateX(500px));
	}
	20%, 30%{
		@include transform(rotate(-54deg) translateX(0));
		top: 283px;
		right: 222px;
		opacity: 1;
	}
	51%, 100%{
		top: 402px;
		right: 341px;
		opacity: 0;
	}

}
.el-2{
	background-image: url(../img/2_1.svg);
	width: 119px;
	height: 83px;
	bottom: 276px;
	left: 500px;
	animation: el2 8s infinite ease;
}
@keyframes el2 {
	0%{
		@include transform(translateY(500px));
	}
	20%, 30%{
		@include transform(translateY(0));
		bottom: 247px;
		left: 393px;
		opacity: 0;
	}
	51%, 90%{
		opacity: 1;
		bottom: 274px;
		left: 498px;
	}
	91%, 100%{
		opacity: 0;
	}

}
.el-3{
	background-image: url(../img/3_1.svg);
	width: 296px;
	height: 141px;
	bottom: 40px;
	left: 103px;
	animation: el3 8s infinite ease;
}
@keyframes el3 {
	0%{
		@include transform(translateY(500px));
	}
	20%, 30%{
		@include transform(rotate(-78deg) translateY(0));
		bottom: 309px;
		left: 197px;
	}
	51%, 90%{
		@include transform(rotate(12deg));
		bottom: 247px;
		left: 310px;
		
	}
	100%{
		@include transform(translateY(500px));
	}
}
.el-4{
	background-image: url(../img/4_1.svg);
	width: 85px;
	height: 99px;
	bottom: 131px;
	left: 450px;
	animation: el4 8s infinite ease;	
}
@keyframes el4 {
	0%{
		@include transform(translateY(500px));
	}
	20%, 30%{
		@include transform(rotate(-116deg));
		bottom: 316px;
    	left: 354px;
	}
	51%, 90%{
		@include transform(rotate(-1deg) translateY(0));
		bottom: 254px;
		left: 415px;
	}
	100%{
		@include transform(translateY(500px));
	}
}
.el-5{
	background-image: url(../img/5_1.svg);
	width: 200px;
	height: 50px;
	top: 60px;
	left: 329px;
	animation: el5 8s infinite ease;
}
@keyframes el5 {
	0%{
		@include transform(translateX(500px));	
	}
	20%, 30%{
		@include transform(rotate(64deg) translateX(0));
		top: 274px;
	    left: 272px;
	}
	51%, 90%{
		@include transform(rotate(0deg));
		top: 352px;
    	left: 469px;
	}
	100%{
		@include transform(translateX(500px));	
	}
}
.el-6{
	width: 53px;
	height: 49px;
	top: 185px;
	right: 314px;
	background-image: url(../img/6_1-1.svg);
	animation: el6 8s infinite ease;
}
@keyframes el6 {
	0%{
		@include transform(translateX(500px));
	}
	20%, 30%{
		@include transform(rotate(-45deg) translateX(0));
		top: 495px;
	  	right: 375px;
	}
	51%, 90%{
		@include transform(rotate(0deg));
		top: 352px;
	  	right: 340px;
	}
	100%{
		@include transform(translateX(500px));
	}
}
.el-7{
	background-image: url(../img/7_1.svg);
	width: 201px;
	height: 81px;
	bottom: 160px;
	right: 188px;
	animation: el7 8s infinite ease;	
}
@keyframes el7 {
	0%{
		@include transform(translateY(500px));
	}
	20%, 30%{
		@include transform(rotate(-55deg) translateY(0));
		bottom: 266px;
		right: 223px;
	}
	51%, 90%{
		@include transform(rotate(0deg));
		bottom: 274px;
		right: 345px;
	}
	100%{
		@include transform(translateY(500px));
	}
}
.el-8{
	background-image: url(../img/8_1.svg);
	width: 252px;
	height: 333px;
	top: 96px;
	left: 129px;
	animation: el8 8s infinite ease;
}
@keyframes el8 {
	0%{
		@include transform(translate(-500px, -500px));
	}
	20%, 30%{
		@include transform(rotate(-45deg) translate(0, 0));
		top: 82px;
		left: 388px;
	}
	51%, 90%{
		@include transform(rotate(0deg));
		top: 151px;
		left: 368px;
		z-index: 3;	
	}
	100%{
		@include transform(translate(-500px, -500px));
	}
}
.el-9{
	background-image: url(../img/9_1.svg);
	width: 350px;
	height: 302px;
	top: 34px;
	right: 52px;
	animation: el9 8s infinite ease;
}
@keyframes el9 {
	20%, 30%{
		top: 218px;
		right: 305px;
		opacity: 1;
	}
	51%, 100%{
		top: 219px;
		right: 309px;
		opacity: 0;
	}
}
.el-10{
	background-image: url(../img/10_1.svg);
	width: 124px;
	height: 43px;
	bottom: 210px;
	left: 324px;
	animation: el10 8s infinite ease;
}
@keyframes el10 {
	20%, 30%{
		bottom: 239px;
		left: 536px;
		opacity: 1;
	}
	51%, 100%{
		bottom: 239px;
		left: 534px;
		opacity: 0;
	}
}
.el-11{
	background-image: url(../img/11_1.svg);
	width: 218px;
	height: 216px;
	top: 312px;
	left: 51px;
	animation: el11 8s infinite ease;
}
@keyframes el11 {
	20%, 30%{
		@include transform(rotate(-25deg));
		top: 361px;
		left: 295px;
		opacity: 1;
	}
	51%, 100%{
		top: 361px;
		left: 295px;
		opacity: 0;
	}
}
.el-12{
	background-image: url(../img/12_1.svg);
	width: 154px;
	height: 147px;
	top: 220px;
	left: 387px;
	animation: el12 8s infinite ease;
}

@keyframes el12 {
	20%, 30%{
		top: 373px;
		left: 391px;
		opacity: 1;
	}
	51%, 100%{
		top: 373px;
		left: 391px;
		opacity: 0;
	
	}
}